# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

venv/
.venv/
env/
ENV/

# =========================
# Flask
# =========================

instance/

# =========================
# Secrets / Environment
# =========================

.env
.env.*
!.env.example

# =========================
# Backups
# =========================

*.backup
*.bak

# =========================
# Logs
# =========================

*.log

docker-data/dms/mail-logs/

# =========================
# Mail data
# =========================

docker-data/dms/mail-data/
docker-data/dms/mail-state/

# =========================
# Temporary files
# =========================

*.tmp
*.temp

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db
# Docker runtime data
docker-data/
